/* Import Google Fonts for consistent typography */
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Font classes */
.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.source-code-pro{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

/* BlogPosts Page Styling */
.blog-posts-page {
  padding: 50px;
  background-color: #f8e6d9;
  background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('blogpage.png');
  background-position: center;
  background-size: cover;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.page-title {
    background-color: var(--primary-bg);
    max-width: 50%;
    margin:auto;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  font-family: "Nothing You Could Do", cursive;
  font-size: 40px;
  margin-bottom: 40px;
  color: #555;
}

.posts-list {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); 
  grid-gap: 20px; 
  list-style-type: none;
  padding: 0;
  opacity: 0;
  transform: translateY(50px);
  animation: slideIn 0.5s ease-out forwards;
  animation-delay: 0.3s;
}

.post-item {
  background-color: #f8e6d9bd;
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column; 
  text-justify: inter-word;
  align-items: flex-start !important; 
  gap: 6px; 
  
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.post-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 24px;
  color: #555;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 10px;
}

.post-author {
  font-size: 18px;
  font-weight: bold;
  color: #686767;
  margin-bottom: 20px;
  font-family: "Shadows Into Light", cursive;
}

.post-excerpt {
  font-size: 1.2rem;
  color: #444;
  margin-top: 0.5rem;
  line-height: 1.5;
  font-style: italic;
}


.read-more {
  font-size: 18px;
  color: #13729a;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
  
}

.read-more:hover {
  color: #2980b9;
  text-decoration: underline;
  
}

.delete-button {
  background-color: #f6dedb;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  /* visibility: hidden; */
}

.delete-button:hover {
  background-color: #c0685e;
}
