@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.resume-page {
  padding: 50px;
  background-color: var(--primary-bg);
  font-family: 'Source Code Pro', monospace;
  color: var(--primary-text);
}

.resume-name {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.resume-section {
  max-width: 800px;
  margin: 0 auto 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.resume-section h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 28px;
  margin-bottom: 10px;
  color: #13729a;
}

.resume-section ul {
  padding-left: 20px;
}
